<div class="wrapper">

		<!-- Preloader -->

		<div id="preloader">
			<div id="status">
				<div class="status-mes"><h4>Daniel Morales</h4></div>
			</div>
		</div>

		<!-- Navigation start -->

		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Daniel Morales</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#intro">Home</a></li>
						<li><a href="#profile">Perfil</a></li>
						<li><a href="#services">Servicios</a></li>
						<!--<li><a href="#resume">HV</a></li>-->
						<li><a href="#portfolio">Portafolio</a></li>
						<li><a href="#contact">Contacto</a></li>
					</ul>
				</div>

			</div>
		</nav>

		<!-- Navigation end -->

		<!-- Intro section start -->

		<section id="intro" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12">

						<div class="hello wow bounceInDown">
							<h1>Hola, soy Daniel Morales</h1>
							<h3><span class="rotate">Rails Developer. | Ruby Programmer. | FullStack Developer.</span></h3>
						</div>

						<a href="#profile">
							<div class="mouse-icon">
								<div class="wheel"></div>
							</div>
						</a>

					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Intro section end -->

		<!-- Profile contact callout section -->

		<section id="profile-contact">

			<div class="container">

				<div class="row">

					<div class="col-sm-4 wow bounceInLeft">
						<div class="profile-item">
							<i class="fa fa-envelope-o"></i>
							<h5><a >danielmorales1202@gmail.com</a></h5>
						</div>
					</div>

					<div class="col-sm-4 wow bounceInUp">
						<div class="profile-item">
							<i class="fa fa-phone"></i>
							<h5>(057-4) 318-4559685</h5>
						</div>
					</div>

					<div class="col-sm-4 wow bounceInRight">
						<div class="profile-item">
							<i class="fa fa-map-marker"></i>
							<h5>Coworking Space (coEco) Carrera 83a No. 50a-110 Medellín</h5>
						</div>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Profile contact callout section -->

		<!-- Profile section start -->

		<section id="profile" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>Daniel Morales</h2>
						<p>Rails Developer. Ruby Programmer. FullStack Developer.</p>
					</div>

					<div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
						<img class="avatar" src="/assets/profile.png" alt="">
					</div>

					<div class="col-md-3 col-sm-6 wow bounceInUp">

						<div class="profile-widget">
							<h3>Skillset</h3>

							<h5>Ruby</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
							</div>

							<h5>Ruby On Rails</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
							</div>

							<h5>HTML / CC3 / SASS</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
								<div class="skill-rate-off"></div>
							</div>

							<h5>Javascript</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
							</div>

							<h5>Ajax</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
								<div class="skill-rate-off"></div>
							</div>
						</div>

						<div class="profile-widget">
							<h3>Social Profiles</h3>
							<ul class="widget-social">
								<li><a href="https://github.com/danielmoralesp" target="_blank"><i class="fa fa-github-alt"></i></a></li>
								<li><a href="https://www.linkedin.com/in/danielmorales1/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://twitter.com/daniel_moralesp" target="_blank"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.facebook.com/daniel.morales.739978" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
							</ul>
						</div>

					</div><!-- .col-md-3 -->

					<div class="col-md-6 col-sm-12 wow bounceInRight">
						<h3>Perfil Profesional</h3>
						<p>Soy Administrador de Empresas de Profesión y Desarrollador de Software por Pasión. FullStack developer en RubyOnRails, mas de 5 años en el mundo de la Tecnología y las Startups. He lanzado dos compañias al mercado: Tuttores.com (Empresa ganadora del Pitch Final del primer Batch del <a href="https://fi.co/" target="_blank">Founder Institute</a> en Medellin) y <a href="http://www.floresymas.com" target="_blank">FloresyMas.com</a></p>
						<p>En esta última compañia tuve la oportunidad de ser el Fundador, CEO y CTO. Desarrollé las primeras versiones de este software y tuve la gran experiencia de recibir inversion por parte de <a href="https://www.velumventures.com/" target="_blank">Velum Ventures</a></p>
						<p>Dada mi pasión por la programación he decidido hacerla el foco de mi carrera profesional. </p>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Profile section end -->

		<!-- Callout section start -->

		<section id="stats" class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft">
						<h3>Mis Estadísticas</h3>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInDown">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-money hidden-xs"></i><span class="timer" data-to="2000"></span>+</h2>
							</div>
							<h3>Millones en Ventas inApps</h3>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInUp">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-code hidden-xs"></i><span class="timer" data-to="5000"></span></h2>
							</div>
							<h3>Lineas de Código</h3>
						</div>
					</div>

					<div class="col-md-3 col-sm-4 wow bounceInRight">
						<div class="stat">
							<div class="stat-icon">
								<h2><i class="fa fa-child hidden-xs"></i><span class="timer" data-to="20000"></span>+</h2>
							</div>
							<h3>Clientes Felices</h3>
						</div>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Callout section end -->

		<!-- Services section start -->

		<section id="services" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>Que Puedo Hacer?</h2>
						<p>Mis Servicios.</p>
					</div>

					<div class="col-md-12">

						<div class="row">

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-desktop"></i>
									</div>
									<h4>Creación de Apps</h4>
									<div class="text">
										<p>Creación de aplicaciones web y mobile friendly para cualquier tipo de sector o industria digital: Ecommerce, SAAS, MarketPlace, Sharing Economy, etc.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-code"></i>
									</div>
									<h4>Spring Devs</h4>
									<div class="text">
										<p>Tiempos relativamente cortos de desarrollo, MVPs completamente funcionales, validaciones de prototipos reales con clientes reales</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInLeft">
								<div class="service">
									<div class="icon">
										<i class="fa fa-users"></i>
									</div>
									<h4>Trabajo en Equipo</h4>
									<div class="text">
										<p>Me gusta rodearme de personas mas inteligentes, aprender de ellos y seguir mejorando. Uso de tecnicas SCRUM y flujos de trabajo en equipo </p>
									</div>
								</div>
							</div>

						</div><!-- .row -->

						<div class="row">

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".2s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-eye"></i>
									</div>
									<h4>Visión Técnica y de Negocios</h4>
									<div class="text">
										<p>Se me facilita interpretar las exigencias, gustos y requerimientos de los clientes finales. Detecto tendencias digitales, y trato de aprovecharlas en mis productos</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".4s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-fighter-jet"></i>
									</div>
									<h4>Compromiso</h4>
									<div class="text">
										<p>Alto compromiso en proyectos apasionantes. Busco proyectos motivadores, que marquen diferencia, que aporten valor, que tengan alto impacto y potencial. </p>
									</div>
								</div>
							</div>

							<div class="col-sm-4 wow bounceInUp" data-wow-delay=".6s">
								<div class="service">
									<div class="icon">
										<i class="fa fa-flask"></i>
									</div>
									<h4>Propósito</h4>
									<div class="text">
										<p>Mantenerme en estado de flujo ejecutando el IKIGAI que rige la vida de cada persona</p>
									</div>
								</div>
							</div>

						</div><!-- .row -->

					</div><!-- .col-md-12 -->

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Services section end -->

		<!-- Callout section start -->

		<section class="callout">

			<div class="container">

				<div class="row">

					<div class="col-md-3 hidden-xs wow bounceInLeft">
						<h3>Mi Status</h3>
					</div>

					<div class="col-md-9 headline nomargin wow bounceInDown">
						<h3>Actualmente tengo 2 actividades: </h3>
						<p>1- Terminando el Bootcamp de RubyOnRails con <a href="https://www.makeitreal.camp/full-stack-medellin" target="_blank">MakeitReal</a> en modo Presencial.</p>
						<p>2-	Iniciando una nueva Startup de Alto Impacto, con un modelo SAAS</p>
						<a href="#contact" class="btn btn-default btn-custom-2 callout-btn"><i class="fa fa-paper-plane-o icon-before"></i> Contáctame</a>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Callout section end -->


		<!-- Portfolio section start -->

		<section id="portfolio" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInDown">
						<h2>Portafolio</h2>
						<p>Mis Mejores Trabajos</p>
					</div>

					<div class="col-md-4 col-sm-6 wow bounceInLeft">
						<a href="/assets/tutores.png" class="pop-up" title="Caption 1">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="/assets/tutores.png" alt="">
								</div>
								<div class="portfolio-item-description">
									<h3>Tuttores.com</h3>
									<p>MarketPlace</p>
								</div>
							</div>
						</a>
					</div>

					<div class="col-md-4 col-sm-6 wow bounceInRight">
						<a href="/assets/fym.png" class="pop-up" title="Caption 3">
							<div class="portfolio-item">
								<div class="portfolio-item-preview">
									<img src="/assets/fym.png" alt="">
								</div>
								<div class="portfolio-item-description">
									<h3>FloresyMas.com</h3>
									<p>Ecommerce</p>
								</div>
							</div>
						</a>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Portfolio section end -->

		<!-- Contact section start -->

		<section id="contact" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-12 headline wow bounceInLeft">
						<h2>Contáctame</h2>
						<p>Puedes contactarme con los siguientes datos</p>
					</div>

					<div class="col-md-6 wow bounceInUp">

						<p>Me gusta escuchar ideas radicales, nuevas, innovadoras.</p>

						<ul class="icon-list">
							<li><i class="fa fa-fw fa-map-marker"></i>Coworking Space (coEco) Carrera 83a No. 50a-110 Medellín</li>
							<li><i class="fa fa-fw fa-phone"></i>(057-4) 318-4559685</li>
							<li><i class="fa fa-fw fa-envelope-o"></i><a href="mailto:">danielmorales1202@gmail.com</a></li>
						</ul>

					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Contact section end -->

		<!-- Footer start -->

		<footer id="footer">

			<div class="container">

				<div class="row">

					<div class="col-md-12">
						<p class="copy">
							© 2017 Daniel Morales, All Rights Reserved.
						</p>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</footer>

		<!-- Footer end -->

	</div><!-- .wrapper -->
