<div class="split-image-footer">
    <ul class="split-list">
        <li><%= t(:download_cv) %>:</li>
        <li><%= link_to t(:spanish), home_download_pdf_spanish_url %></li>
        <li><%= link_to t(:english), home_download_pdf_english_url %></li>
    </ul>
</div>
